.portfolio .portfolio-filter button.active,
.contact .contact-info-item .icon .fa,
.lightbox .lightbox-controls .next .fa,
.lightbox .lightbox-controls .prev .fa,
.portfolio .portfolio-item .portfolio-info .icon .fa,
.services .service-item-inner .icon .fa,
.aside .nav li a:not(.active):hover,
.aside .nav li a.active {
  color: #ffb400;
}

.btn,
.blog .blog-item .blog-item-inner .blog-img .blog-date,
.services .service-item-inner:hover .icon .fa,
.about .about-content .timeline .circle-dot,
.about .about-content .timeline-item::before,
.about .about-content .skills .skill-item .progress .progress-in,
.about .about-content .personal-info .buttons a.btn,
.home .intro .social-links a,
.aside .nav-toggler span::after,
.aside .nav-toggler span::before,
.aside .nav-toggler span,
.section-title h1::after,
.section-title h1::before {
  background-color: #ffb400;
}

.aside .logo a::before {
  border-bottom: 4px solid #ffb400;
  border-left: 4px solid #ffb400;
}

.aside .logo a::after {
  border-top: 4px solid #ffb400;
  border-right: 4px solid #ffb400;
}

.portfolio .portfolio-filter button.active {
  border-bottom: 2px solid #ffb400;
}
